.v-notification {
  $notification-padding: 4 * $sp;
  $notification-line-height: 20px;

  display: flex;
  overflow: hidden;
  max-width: calc(100vw - #{6 * $sp});
  background-color: rgba($color-white, 0.2);
  border: set-border();
  box-shadow: $shadow-main;
  color: $color-theme-light-font;

  &--sm {
    width: 360px;
  }
  &--md {
    width: 570px;
  }
  &--lg {
    width: 960px;
  }

  &--info {
    border-color: $color-info;
    background-color: $color-info-pale;
  }

  &--success {
    border-color: $color-success;
    background-color: $color-success-pale;
  }

  &--warning {
    border-color: $color-warning;
    background-color: $color-warning-pale;
  }

  &--error {
    border-color: $color-error;
    background-color: $color-error-pale;
  }

  &__content {
    line-height: $notification-line-height;
    flex-grow: 1;
    border-radius: $border-radius-main;
    padding: $notification-padding;
  }

  &__close-wrapper {
    height: 2 * $notification-padding + $notification-line-height;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2 * $sp;
  }
}
