@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~highlight.js/styles/vs2015';
@import '~@fontsource/ubuntu/index.css';

body {
  font-family: 'Ubuntu', sans-serif;
}

.docs--p {
  margin-bottom: 3 * $sp;
}

.docs--link {
  color: $color-primary;
}
