.v-badge {
  font-weight: normal;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: $hover-transition;

  &--sm {
    height: 20px;
    font-size: 12px;
    padding: 0 2 * $sp;
  }

  &--md {
    height: 30px;
    padding: 0 3 * $sp;
  }

  &--lg {
    height: 40px;
    padding: 0 4 * $sp;
  }

  &--disabled {
    color: darken($color-disabled, 20%);
    background-color: lighten($color-disabled, 40%);
    pointer-events: none;
    border-color: $color-disabled;
  }
}
