.v-toolbar-menu {
  margin: 0;
  padding: 0;
  top: 100%;
  left: 0;
  right: 0;
  list-style: none;
  position: absolute;

  @include breakpoint(lg) {
    position: static;
    height: 100%;
  }

  &__list {
    display: none;
    box-shadow: $shadow-bottom;

    @include breakpoint(lg) {
      display: flex;
      align-items: center;
      height: 100%;
      box-shadow: none;
    }
  
    &--expanded {
      display: block;
      
      @include breakpoint(lg) {
        display: flex;
      }
    }
  }
}
