.v-button {
  display: inline-flex;
  font-weight: normal;
  flex-direction: column;
  cursor: pointer;
  transition: $hover-transition;
  padding: 0;
  align-items: stretch;

  &:hover {
    cursor: pointer;
  }

  &--sm {
    min-height: 30px;
  }

  &--md {
    min-height: 40px;
  }

  &--lg {
    min-height: 55px;
  }

  &--block {
    width: 100%;
  }

  &--disabled {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
  }

  &--outlined {
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
  }

  &--flat {
    background-color: transparent;
  }

  &__container {
    flex-grow: 1;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: $sp;

    &:hover {
      cursor: pointer;
    }
  }

  &__icon {
    margin: 0 $sp;
  }

  &__content {
    text-align: center;
    margin: 0 $sp;
    flex-grow: 1;
  }
}
