.v-textarea {
  display: flex;
  flex-direction: column;
  font-size: 16px;

  &__field {
    display: flex;
    align-items: stretch;
    position: relative;

    &--light {
      background-color: $color-input-bg;
      color: $color-theme-light-font;
    }
  
    &--dark {
      background-color: $color-theme-dark;
      color: $color-theme-dark-font;
    }

    &--disabled {
      overflow: hidden;
    }
  }

  &__content {
    display: inline-block;
    width: 100%;

    &--disabled {
      color: darken($color-disabled, 20%);
      background-color: lighten($color-disabled, 40%);
      pointer-events: none;
      cursor: not-allowed;
      border-color: $color-disabled;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    padding: 0 3 * $sp;
    font-size: 16px;

    &--clickable {
      cursor: pointer;
    }
  }

  &__textarea {
    cursor: text;
    padding: (($font-size-input-label / 2) + 2 * $sp) 3 * $sp;
    font-size: $font-size-input;
    width: 100%;
    border: 0;
    outline: 0;

    &--with-label {
      padding: $sp 3 * $sp;
    }
  }

  &__label {
    display: block;
    color: $color-label;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $font-size-input-label;
    line-height: $font-size-input-label;
    padding: $sp 3 * $sp;
    height: $font-size-input-label + 2 * $sp;
  }

  &__hint {
    color: $color-text-2;
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;

    &--error {
      color: $color-error;
    }
  }
}
