.docs-sidebar {
  position: fixed;
  width: 30rem;
  background-color: $color-white;
  top: $toolbar-height;
  bottom: 0;
  border-right: set-border();
  overflow-y: auto;
  z-index: 11;

  &--hidden-on-mobile {
    display: none;

    @include breakpoint(lg) {
      display: block;
    }
  }

  &__open-button {
    position: fixed;
    top: 15rem;
    left: 2 * $sp;

    @include breakpoint(lg) {
      display: none;
    }
  }

  &__header {
    padding: 2 * $sp;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
  }

  &__close-button {

    @include breakpoint(lg) {
      display: none;
    }
  }

  &__group {
    margin-bottom: 4 * $sp;
  }

  &__group-header {
    font-weight: bold;
    display: inline-block;
    font-size: 1.8rem;
    padding: $sp 2 * $sp;
    width: 100%;
  }

  &__item {
    display: flex;
    color: $color-text-2;
  }

  &__item-link {
    padding: $sp;
    padding-left: 5 * $sp;
    display: block;
    width: 100%;
    height: 100%;

    &:hover {
      color: $color-text;
      font-weight: bold;
    }

    &--active {
      font-weight: bold;
      color: $color-text;
      background-color: $color-bg;
    }
  }
}
