.v-toolbar {
  width: 100%;
  position: relative;
  top: 0;
  z-index: $layer-toolbar;
  display: flex;
  flex-direction: column;

  &--fixed {
    position: fixed;
  }

  &--absolute {
    position: absolute;
  }

  &--expanded {
    @include breakpoint(lg) {
      height: 100vh;
    }
  }

  &__top-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left-side,
  &__center-side,
  &__right-side {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
