.v-icon {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;

  &--size-lg {
    font-size: (4em / 3);
    line-height: (3em / 4);
    vertical-align: -.0667em;
  }
  
  &--size-xs {
    font-size: .75em;
  }
  
  &--size-sm {
    font-size: .875em;
  }
  
  @for $i from 1 through 10 {
    &--size-#{$i}x {
      font-size: $i * 1em;
    }
  }

  &--rotate-90  { 
    transform: rotate(90deg);
  }
  &--rotate-180  { 
    transform: rotate(180deg);
  }
  &--rotate-270  { 
    transform: rotate(270deg);
  }

  &--flip-horizontal { 
    transform: scale(-1, 1);
  }
  &--flip-vertical   { 
    transform: scale(1, -1);
  }
  &--flip-both {
    transform: scale(-1, -1);
  }


  &--spin {
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
  }

  @keyframes spin {
    from {
      transform:rotate(0deg);
    }
    to {
      transform:rotate(360deg);
    }
  }
  
  &--pulse {
    animation: spin 1s steps(8) infinite;
  }
}