.layout-default-header-menu {
  background-color: $color-white;

  &__item {
    font-size: 1.8rem;
    border-left: set-border(transparent, $sp);
    padding: 2 * $sp;

    &:hover {
      background-color: $color-bg;
    }

    &--active {
      font-weight: bold;
      border-left-color: $color-secondary;
    }

    @include breakpoint(lg) {
      border-left: 0;
      text-align: center;
      padding: 0 4 * $sp;
      border-bottom: set-border(transparent, $sp);

      &--active {
        border-bottom-color: $color-secondary;
      }
    }
  }

  &__item-badge {
    margin-top: -3 * $sp;
    margin-left: $sp;
    background-color: $color-secondary;
    padding: $sp;
  }
}
