.layout-default {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  &__header {
    position: fixed;
    top: 0;
    height: $toolbar-height;
  }

  &__content {
    margin-top: $toolbar-height;
    flex-grow: 1;
  }
}
