$xs: 360px !default;
$sm: 576px !default;
$md: 768px !default;
$lg: 1060px !default;
$xl: 1300px !default;

$min-content-width: 320px;
$max-content-width: 1920px !default;

$breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl
) !default;
