.docs-breadcrumbs {
  margin-bottom: 3 * $sp;
  color: $color-text-secondary;

  &__breadcrumb {
    &:hover {
      font-weight: bold;
    }

    &--active {
      font-weight: bold;
      color: $color-primary;
    }
  }
}
