$datepicker-color-selection: $color-primary !default;

.v-datepicker {
  $root: &;
  display: flex;
  flex-direction: column;
  background: $color-white;
  color: $color-text;
  width: 30rem;

  &__header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
  }

  &__display {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    cursor: default;
    text-transform: capitalize;
  }

  &__days-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__calendar-row {
    display: flex;
    width: 100%;
  }

  &__weekdays {
    display: flex;
    text-transform: capitalize;
    border-bottom: set-border();
    margin-bottom: $sp;
  }

  &__weekday,
  &__calendar-date {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    width: 4rem;
    height: 4rem;
    margin: 1px;
  }

  &__calendar-date {
    border: set-border(transparent);
    box-sizing: border-box;
    transition-duration: 0.2s;

    &--selectable {

      &:hover {
        border: set-border($datepicker-color-selection);
        border-radius: 50%;
        cursor: pointer;
      }
    }

    &--today {
      background: $color-light;
    }

    &--selected {
      background: $datepicker-color-selection;
      color: $color-white;
      border-radius: 50%;
    }

    &--disabled {
      opacity: 0.5;
      pointer-events: none;

      &:hover {
        border: 0.01em transparent solid !important;
      }
    }
  }

  &__month-view {
    display: flex;
    flex-wrap: wrap;
  }

  &__month {
    width: 33%;
  }
}
