
$checkbox-size: 2.4rem !default;

.v-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__input {
    display: none;
  }

  &__checkbox {
    flex-shrink: 0;
  }

  &__checkmark {
    font-size: $checkbox-size - 0.8rem;
    height: $checkbox-size;
    width: $checkbox-size;
    margin-right: 2 * $sp;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    color: $color-white;

    &--light {
      background-color: $color-input-bg;
    }

    &--dark {
      background-color: $color-theme-dark;
    }

    &--rounded {
      border-radius: $border-radius-main;
    }

    &--bordered {
      border: set-border();
    }

    &--disabled {
      opacity: 0.5;
    }

    &--error {
      border: set-border($color-error);
    }
  }

  &__label {
    position: relative;
    display: flex;
    width: 100%;
    cursor: pointer;
    user-select: none;
    align-items: center;

    @media (hover: none) {
      min-height: 4rem;
    }
  }
}
