.docs {
  display: flex;
  flex-direction: row;

  &__main {
    padding: 2 * $sp;
    flex-grow: 1;

    @include breakpoint(lg) {
      margin-left: 300px;
    }
  }

  &__content {
    padding: 2 * $sp;
  }
}
