.v-tooltip {
  position: relative;
  display: inline-block;

  &__activator {
    display: inline-block;
    width: 100%;
  }

  &__tooltip {
    padding: 2 * $sp;
    position: fixed;
    z-index: 100000;

    &--no-wrap {
      white-space: nowrap;
    }

    &--hidden {
      visibility: hidden;
    }
  }
}
