.home {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;

  &__content {
    max-width: 800px;
  }

  &__title {
    font-size: 45px;
  }

  &__subtitle {
    font-size: 25px;
  }

  &__button {
    margin: 4 * $sp;
    min-width: 200px;
  }
}
